extends layout

block content
  div.container-fluid
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand
          div.brand__logo
            img(alt="Brand" src="images/logo-madtec.svg" width="150px" height="100%")

      div#navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href="#") que hacemos
          li
            a(href="#") quienes somos
          li
            a(href="#") casos de estudio
          li
            a(href="#") contacto
          li
            a(href="#") empezar un proyecto
  section.front
      div#video-wrap
        video#front__video(autoplay preload="true" poster="images/brand.jpg")
          source(src="/videos/gran-via-sunny.mp4" type="video/mp4")
          source(src="/videos/gran-via-sunny.webm" type="video/webm")
          source(src="/videos/gran-via-sunny.ogv" type="video/ogg")

  div.container-fluid
    div.row
      div.col-md-12 COL 12
      div.col-md-12 COL 12
      div.col-md-12 COL 12
      div.col-md-12.bg-primary COL 12
    h1 Madtec
      small ideas, innovacion
    div.row
      div.col-md-1 COL MD 1
      div.col-md-1 COL MD 1
      div.col-md-1 COL MD 1
      div.col-md-1 COL MD 1
    div.row
      div.col-md-8 COL 8
        div.row
          div.col-md-2 COL 2
          div.col-md-6 COL 6
      div.col-md-4 COL 4
    div.row
      div.col-md-12.visible-xs-block VISIBLE XS
                

